{% ifequal pages 1 %}
{% else %}
<div class="pager">
   {% if has_previous %}
      <span class="page prev-page">
      <a href="?{{qstring}}&page={{ previous }}">&lt; Prev</a>
      </span>
   {% endif %}

   {% if show_first %}
      <span class="page"><a href="?{{qstring}}&page=1">1</a></span>
      <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in page_numbers %}
      {% ifequal linkpage page %}
         <span class="current">{{ page }}
         <div class="current"><div class="floatinfo">Showing page #{{page}} of {{pages}} pages.</div></div></span>
      {% else %}
         <span class="page"><a href="?{{qstring}}&page={{ linkpage }}"
               >{{ linkpage }}</a></span>
      {% endifequal %}
   {% endfor %}
   {% if show_last %}
      <span class="ellipsis">...</span>
      <span class="page"><a href="?{{qstring}}&page=last">{{ pages }}</a></span>
   {% endif %}
   {% if has_next %}
      <span class="page next-page"><a href="?{{qstring}}&page={{ next }}">Next &gt;</a></span>
   {% endif %}
</div>
{% endifequal %}